In [24]:
#geopy is imported to use the haversine formula, which calculates the distance between two points using lats/lngs
import geopy.distance
import pandas as pd
import numpy as np
low_memory=False

In [21]:
july_2018 = pd.read_csv('JC-201808-citibike-tripdata.csv')
july_2019 = pd.read_csv('JC-201908-citibike-tripdata.csv')
july_2020 = pd.read_csv('JC-202008-citibike-tripdata.csv')
july_2021 = pd.read_csv('JC-202108-citibike-tripdata.csv')
july_2021_long = pd.read_csv('202108-citibike-tripdata.csv')

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
print(len(july_2021_long))

3072478

In [3]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2018)):
    start_coord = [float(july_2018['start station latitude'][i]), float(july_2018['start station longitude'][i])]
    end_coord = [float(july_2018['end station latitude'][i]), float(july_2018['end station longitude'][i])]
    linear_distance = geopy.distance.distance(start_coord, end_coord).miles
    start_end.append(round(linear_distance, 3))

july_2018["start/end distance in mi"] = start_end

In [4]:
july_2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start/end distance in mi
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1,0.891
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1,0.145
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1,0.758
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1,0.321
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1,0.620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44427,462,2018-08-25 16:17:05.8840,2018-08-25 16:24:48.5890,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29544,Subscriber,1990,1,1.145
44428,636,2018-08-28 12:31:22.4380,2018-08-28 12:41:59.2110,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29544,Subscriber,1990,1,1.569
44429,954,2018-08-30 08:08:18.9250,2018-08-30 08:24:13.7900,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29526,Subscriber,1977,1,2.412
44430,920,2018-08-31 08:08:54.2450,2018-08-31 08:24:14.8890,3694,Jackson Square,40.711130,-74.078900,3184,Paulus Hook,40.714145,-74.033552,33633,Subscriber,1977,1,2.390
44431,1017,2018-08-31 12:57:23.8390,2018-08-31 13:14:20.9290,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29288,Subscriber,1964,1,1.856

In [19]:
print(len(july_2021))

93800

In [5]:
july_2018['gender'] = july_2018['gender'].replace({0: 'Unknown', 1: 'Male', 2: 'Female'})
july_2019['gender'] = july_2019['gender'].replace({0: 'Unknown', 1: 'Male', 2: 'Female'})
july_2020['gender'] = july_2020['gender'].replace({0: 'Unknown', 1: 'Male', 2: 'Female'})

In [6]:
july_2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start/end distance in mi
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,Male,0.891
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,Male,0.145
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,Male,0.758
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,Male,0.321
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,Male,0.620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44427,462,2018-08-25 16:17:05.8840,2018-08-25 16:24:48.5890,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29544,Subscriber,1990,Male,1.145
44428,636,2018-08-28 12:31:22.4380,2018-08-28 12:41:59.2110,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29544,Subscriber,1990,Male,1.569
44429,954,2018-08-30 08:08:18.9250,2018-08-30 08:24:13.7900,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29526,Subscriber,1977,Male,2.412
44430,920,2018-08-31 08:08:54.2450,2018-08-31 08:24:14.8890,3694,Jackson Square,40.711130,-74.078900,3184,Paulus Hook,40.714145,-74.033552,33633,Subscriber,1977,Male,2.390
44431,1017,2018-08-31 12:57:23.8390,2018-08-31 13:14:20.9290,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29288,Subscriber,1964,Male,1.856

In [7]:
#add the company name so csvs can be connected in tableau
company = []
for i in range(len(july_2018)):
    company.append('Citi Bike')
july_2018['Company'] = company

In [8]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2019)):
    start_coord = [float(july_2019['start station latitude'][i]), float(july_2019['start station longitude'][i])]
    end_coord = [float(july_2019['end station latitude'][i]), float(july_2019['end station longitude'][i])]
    linear_distance = geopy.distance.distance(start_coord, end_coord).miles
    start_end.append(round(linear_distance, 3))

july_2019["start/end distance in mi"] = start_end

In [9]:
#add the company name so csvs can be connected in tableau and add a column for linear start to end distances
company = []
for i in range(len(july_2019)):
    company.append('Citi Bike')
july_2019['Company'] = company

In [10]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2020)):
    start_coord = [float(july_2020['start station latitude'][i]), float(july_2020['start station longitude'][i])]
    end_coord = [float(july_2020['end station latitude'][i]), float(july_2020['end station longitude'][i])]
    linear_distance = geopy.distance.distance(start_coord, end_coord).miles
    start_end.append(round(linear_distance, 3))

july_2020["linear travel distance in mi"] = start_end

In [11]:
company = []
for i in range(len(july_2020)):
    company.append('Citi Bike')
july_2020['Company'] = company

In [12]:
july_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CABAE380FF3C7E0,classic_bike,2021-08-06 07:02:02,2021-08-06 07:28:56,Dey St,JC065,Stevens - River Ter & 6 St,HB602,40.737711,-74.066921,40.743133,-74.026989,casual
1,0C820F4E9256B5BB,classic_bike,2021-08-15 19:48:51,2021-08-15 20:04:45,Grand St & 2 St,HB405,Jersey & 3rd,JC074,40.739130,-74.036180,40.723332,-74.045953,member
2,F33B1B767F55A2BC,classic_bike,2021-08-26 17:14:58,2021-08-26 17:20:13,Grand St & 2 St,HB405,7 St & Monroe St,HB304,40.739130,-74.036180,40.746413,-74.037977,casual
3,EF7A1541C2302EEF,classic_bike,2021-08-12 12:58:22,2021-08-12 13:04:07,Dey St,JC065,Sip Ave,JC056,40.737711,-74.066921,40.730897,-74.063913,member
4,74DEC24E4C66BA01,classic_bike,2021-08-04 20:59:45,2021-08-04 21:10:39,Glenwood Ave,JC094,Pershing Field,JC024,40.727551,-74.071061,40.742677,-74.051789,member

In [13]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2021)):
    start_coord = [float(july_2021['start_lat'][i]), float(july_2021['start_lng'][i])]
    end_coord = [float(july_2021['end_lat'][i]), float(july_2021['end_lng'][i])]
    try:
        linear_distance = geopy.distance.distance(start_coord, end_coord).miles
        start_end.append(round(linear_distance, 3))
    except:
        start_end.append(0.0)
    #print(linear_distance)

july_2021["linear travel distance in mi"] = start_end

In [14]:
company = []
for i in range(len(july_2021)):
    company.append('Citi Bike')
july_2021['Company'] = company

In [15]:
july_2018.to_csv('./july_2018_cititbike_tripdata.csv', index="False", header="True")

In [16]:
july_2019.to_csv('./july_2019_cititbike_tripdata.csv', index="False", header="True")

In [17]:
july_2020.to_csv('./july_2020_cititbike_tripdata.csv', index="False", header="True")

In [18]:
july_2021.to_csv('./july_2021_cititbike_tripdata.csv', index="False", header="True")