In [1]:
#geopy is imported to use the haversine formula, which calculates the distance between two points using lats/lngs
import geopy.distance
import pandas as pd
import numpy as np
low_memory=False

In [3]:
july_2018 = pd.read_csv('201808-citibike-tripdata-large.csv')
july_2019 = pd.read_csv('201908-citibike-tripdata-large.csv')
july_2020 = pd.read_csv('202008-citibike-tripdata-large.csv')
july_2021 = pd.read_csv('202108-citibike-tripdata-large.csv')

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2018)):
    start_coord = [float(july_2018['start station latitude'][i]), float(july_2018['start station longitude'][i])]
    end_coord = [float(july_2018['end station latitude'][i]), float(july_2018['end station longitude'][i])]
    linear_distance = geopy.distance.distance(start_coord, end_coord).miles
    start_end.append(round(linear_distance, 3))

july_2018["start/end distance in mi"] = start_end

In [5]:
july_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start/end distance in mi
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1,1.612
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1,1.346
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1,0.657
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1,0.370
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1,0.680

In [6]:
print(len(july_2021))

3072478

In [7]:
july_2018['gender'] = july_2018['gender'].replace({0: 'Unknown', 1: 'Male', 2: 'Female'})
july_2019['gender'] = july_2019['gender'].replace({0: 'Unknown', 1: 'Male', 2: 'Female'})
july_2020['gender'] = july_2020['gender'].replace({0: 'Unknown', 1: 'Male', 2: 'Female'})

In [8]:
#add the company name so csvs can be connected in tableau
company = []
for i in range(len(july_2018)):
    company.append('Citi Bike')
july_2018['Company'] = company

In [9]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2019)):
    start_coord = [float(july_2019['start station latitude'][i]), float(july_2019['start station longitude'][i])]
    end_coord = [float(july_2019['end station latitude'][i]), float(july_2019['end station longitude'][i])]
    linear_distance = geopy.distance.distance(start_coord, end_coord).miles
    start_end.append(round(linear_distance, 3))

july_2019["start/end distance in mi"] = start_end

In [10]:
#add the company name so csvs can be connected in tableau and add a column for linear start to end distances
company = []
for i in range(len(july_2019)):
    company.append('Citi Bike')
july_2019['Company'] = company

In [13]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2020)):
    start_coord = [float(july_2020['start station latitude'][i]), float(july_2020['start station longitude'][i])]
    end_coord = [float(july_2020['end station latitude'][i]), float(july_2020['end station longitude'][i])]
    linear_distance = geopy.distance.distance(start_coord, end_coord).miles
    start_end.append(round(linear_distance, 3))

july_2020["linear travel distance in mi"] = start_end

In [14]:
company = []
for i in range(len(july_2020)):
    company.append('Citi Bike')
july_2020['Company'] = company

In [16]:
#get the distance from start to end point per ride and add it into the dataframe
start_end = []
for i in range(len(july_2021)):
    start_coord = [float(july_2021['start_lat'][i]), float(july_2021['start_lng'][i])]
    end_coord = [float(july_2021['end_lat'][i]), float(july_2021['end_lng'][i])]
    try:
        linear_distance = geopy.distance.distance(start_coord, end_coord).miles
        start_end.append(round(linear_distance, 3))
    except:
        start_end.append(0.0)
    #print(linear_distance)

july_2021["linear travel distance in mi"] = start_end

In [17]:
company = []
for i in range(len(july_2021)):
    company.append('Citi Bike')
july_2021['Company'] = company

In [11]:
july_2018.to_csv('./july_2018_cititbike_tripdata_large.csv', index="False", header="True")

In [12]:
july_2019.to_csv('./july_2019_cititbike_tripdata_large.csv', index="False", header="True")

In [15]:
july_2020.to_csv('./july_2020_cititbike_tripdata_large.csv', index="False", header="True")

In [18]:
july_2021.to_csv('./july_2021_cititbike_tripdata_large.csv', index="False", header="True")